@import url('https://fonts.googleapis.com/css2?family=Inder:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.intro-back{
  padding-top: 113px;
  padding-left: 134px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  .intro{
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    gap: 84px;
    .contents{
      display: flex;
      flex-direction: column;
      text-align: left;
      .title{
        color: #C9EEFF;
        font-family: Inter;
        font-size: 90px;
        font-style: normal;
        font-weight: 600;
        line-height: 100px; /* 111.111% */
        -webkit-text-stroke: 2px #62CDFF;
      }
      .text{
        margin-top: 37px;
        color: #FFF;
        font-family: Inter;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 39px; /* 144.444% */
      }
      .buttons{
        margin-top: 84px;
        display: flex;
        flex-direction: row;
        gap:44px;
        margin-left: auto;
        margin-right: auto;
        .button{
          display: flex;
          width: 186px;
          height: 60px;
          padding: auto;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex-shrink: 0;border-radius: 54px;
          background: #62CDFF;
          
          .name{
            color: #000;
            font-family: Inder;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 100% */
          }
        }
      }
    }
    .image{
      margin-top: auto;
      margin-bottom: auto;
      width: 542px;
      height: 508px;
      flex-shrink: 0;
      @media (max-width:1300px)
      {
        width: 80%;
        height: 80%;
      }
    }
  }
}