@import url('https://fonts.googleapis.com/css2?family=Inder:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.subscribe-back{
  padding-top: 122px;
  padding-left: 134px;
  padding-right: 134px;
  display: flex;
  justify-content: center;
  .subscribe{
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    gap: 46px;
    .contents{
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      text-align: left;
      .title{
        color: #FFF;
        text-shadow: 17px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inder;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 120% */
        -webkit-text-stroke: 1px #62CDFF;
      }
      .text{
        margin-top: 19px;
        color: #FFF;
        font-family: Inder;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        letter-spacing: 0.2px;
      }
      .form{
        width: 370px;
        height: 64px;
        margin-top: 91px;
        flex-shrink: 0;
        padding:8px 8px;
        justify-content: space-between;
        border-radius: 40px;
        border: 3px solid #62CDFF;
        display: flex;
        flex-direction: row;
        .input{
          margin-left: 22px;
          color: white;
          background: transparent;
          font-family: Inder;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 100% */
          letter-spacing: 0.2px;
          outline: none;
          border: none;
          &::placeholder { // Standard browsers
            color: #B6B6B6;
          }
          
          &::-webkit-input-placeholder { // WebKit browsers
            color: #B6B6B6;
          }
          
          &::-moz-placeholder { // Mozilla Firefox 19+
            color: #B6B6B6;
          }
          
          &:-ms-input-placeholder { // Internet Explorer 10+
            color: #B6B6B6;
          }
          
          &::-ms-input-placeholder { // Microsoft Edge
            color: #B6B6B6;
          }
        }
        .button{
          width: 64px;
          height: 64px;
          flex-shrink: 0;
          display: flex;
          border-radius: 50%;
          background-color: #62CDFF;
          img{
            width: 80%;
            height: auto;
            margin: auto;
          }
        }
      }
    }
    .image{
      margin-top: auto;
      margin-bottom: auto;
      width: 552px;
      height: 505px;
      flex-shrink: 0;
    }
  }
}